.samBody{
    background-color: #ECF2FE;
    color: #333333;
}

.samaNav{
 /* Navbar/SeaWire-Navbar-18 */
background: #ECF2FE;  

}

.samaContainer{
    /* Background/Light Blue */
    background: #ECF2FE;  
}



